body {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    border: 1px solid black;
    background-color: rgb(249, 102, 102);
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttons button {
    padding: 10px;
    margin: 5px;
    border: 1px solid seashell;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* Add additional styles as needed */
